@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply min-h-screen w-full bg-[#9DB2BF] flex items-center justify-center;
}

.option.correct {
  color: white;
  background-color: #1b9c85;
}

.option.incorrect {
  color: white;
  background-color: #e06469;
}

.option {
  @apply text-black bg-white shadow-md rounded-md text-xl py-4 px-2 cursor-pointer disabled:cursor-default;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #565050;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f9ecec;
  border-radius: 10px;
}
